@keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }
.wrapper { color: #333; }
.wrapper ul { margin: 0; padding: 0; list-style-type: none; }
.wrapper nav { width: 1280px; height: 100px; margin: auto; padding: 22px 30px; box-shadow: 0px 3px 6px #00000029; }
.wrapper nav .innerArea { display: flex; justify-content: space-between; }
.wrapper nav .innerArea .logoBlock { width: 268px; }
.wrapper nav .innerArea .logoBlock a .img { display: block; }
.wrapper nav .innerArea .searchBlock { position: relative; width: 575px; }
.wrapper nav .innerArea .searchBlock input { vertical-align: text-top; width: 525px; height: 46px; padding: 14px 30px 14px 18px; border: 1px solid #707070; border-right: none; border-radius: 10px 0px 0px 10px; }
.wrapper nav .innerArea .searchBlock input::placeholder { opacity: 0.5; color: #707070; }
.wrapper nav .innerArea .searchBlock .btn { cursor: pointer; position: absolute; top: 4px; right: 0; display: block; background: url("../images/form.png") no-repeat; background-size: 50px; width: 50px; height: 47px; }
.wrapper nav .innerArea .menuBlock { display: flex; }
.wrapper nav .innerArea .menuBlock a { display: block; width: 72px; margin-right: 5px; text-decoration: none; color: #333; }
.wrapper nav .innerArea .menuBlock a:hover { opacity: 0.7; }
.wrapper nav .innerArea .menuBlock a:last-child { margin-right: 0; }
.wrapper nav .innerArea .menuBlock a .img { font-size: 12px; }
.wrapper nav .innerArea .menuBlock a .img img { width: 50px; margin: auto; }
.wrapper nav .innerArea .menuBlock a .img .txt { display: block; padding-top: 2px; text-align: center; }
.wrapper header .mainSlider { background-color: #737373; width: 1280px; height: 480px; margin: 10px auto 0; }
.wrapper header .mainSlider .carousel { position: relative; width: 960px; margin: auto; overflow: hidden; }
.wrapper header .mainSlider .carousel .list .slick-list .slick-track { display: flex; }
.wrapper header .mainSlider .carousel .list .prev, .wrapper header .mainSlider .carousel .list .next { position: absolute; top: 50%; bottom: 0; background-color: rgba(255, 255, 255, 0.8); width: 40px; height: 40px; border-radius: 20px; z-index: 9999; }
.wrapper header .mainSlider .carousel .list .prev:hover, .wrapper header .mainSlider .carousel .list .next:hover { cursor: pointer; }
.wrapper header .mainSlider .carousel .list .prev::before, .wrapper header .mainSlider .carousel .list .next::before { content: ""; position: absolute; top: 35%; left: 12px; width: 15px; height: 15px; border: 0; border-top: solid 3px #707070; border-right: solid 3px #707070; }
.wrapper header .mainSlider .carousel .list .next { right: 10px; transform: rotate(45deg); }
.wrapper header .mainSlider .carousel .list .prev { left: 10px; transform: rotate(225deg); }
.wrapper header .mainSlider .carousel .list li { background-color: #eee; height: 480px; margin: auto; }
.wrapper header .subSlider { height: 60px; margin: 20px auto 0; }
.wrapper header .subSlider ul { display: flex; justify-content: center; }
.wrapper header .subSlider ul li { background-color: #737373; width: 100px; height: 60px; margin-right: 10px; }
.wrapper header .subSlider ul li:last-child { margin-right: 0; }
.wrapper header .subSlider ul li.currentSlide { position: relative; border: 2px solid #A53E3E; box-sizing: border-box; }
.wrapper header .subSlider ul li.currentSlide::before { content: ""; position: absolute; top: -13px; right: 0; left: 0; margin: auto; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 12px solid #A53E3E; }
.wrapper main { display: flex; width: 960px; margin: 50px auto 0; }
.wrapper main .leftArea { width: 400px; }
.wrapper main .leftArea .ttl { margin-bottom: 10px; font-size: 18px; }
.wrapper main .leftArea .listBlock { margin-bottom: 25px; }
.wrapper main .leftArea .listBlock:last-child { margin-bottom: 0; }
.wrapper main .leftArea .listBlock input[type="checkbox"] { display: none; }
.wrapper main .leftArea .listBlock input[type="checkbox"]:checked + .category .txt::before { top: 5px; transform: rotate(225deg); }
.wrapper main .leftArea .listBlock input[type="checkbox"]:checked + .category + ul { display: none; }
.wrapper main .leftArea .listBlock .category { cursor: pointer; display: block; user-select: none; background-color: #EDEDED; width: 100%; margin-bottom: 10px; padding: 3px 14px; }
.wrapper main .leftArea .listBlock .category .txt { display: block; position: relative; }
.wrapper main .leftArea .listBlock .category .txt::before { content: ""; position: absolute; top: -4px; right: 0; bottom: 0; width: 10px; height: 10px; margin: auto; border: 0; border-right: solid 2px #707070; border-bottom: solid 2px #707070; transform: rotate(45deg); }
.wrapper main .leftArea .listBlock ul li { margin-bottom: 10px; }
.wrapper main .leftArea .listBlock ul li:last-child { margin-bottom: 0; }
.wrapper main .leftArea .listBlock ul li a { font-size: 14px; color: #333; }
.wrapper main .leftArea .listBlock ul li a:hover { text-decoration: none; }
.wrapper main .rightArea { margin-left: 40px; }
.wrapper main .rightArea .infoBlock .ttl { padding-bottom: 12px; font-size: 16px; font-weight: bold; }
.wrapper main .rightArea .infoBlock .list { margin: 0; padding: 0; list-style-type: none; }
.wrapper main .rightArea .infoBlock .list li { display: flex; padding-bottom: 8px; }
.wrapper main .rightArea .infoBlock .list li:last-child { padding-bottom: 0; }
.wrapper main .rightArea .infoBlock .list li span.date { width: 130px; padding-right: 20px; }
.wrapper main .rightArea .infoBlock .list li span.txt a { color: #333; }
.wrapper main .rightArea .infoBlock .list li span.txt a:hover { text-decoration: none; }
.wrapper main .rightArea .infoBlock .list li span.txt.attention a { font-weight: bold; color: #A53E3E; }
.wrapper main .rightArea .productsBlock { margin-top: 80px; }
.wrapper main .rightArea .productsBlock .head { display: flex; justify-content: space-between; margin-bottom: 10px; }
.wrapper main .rightArea .productsBlock .head h1 { font-size: 22px; }
.wrapper main .rightArea .productsBlock .head h1 .txt { padding: 5px; }
.wrapper main .rightArea .productsBlock .head.badge h1 .txt { position: relative; padding-left: 70px; }
.wrapper main .rightArea .productsBlock .head.badge h1 .txt::before { content: "NEW!"; display: block; position: absolute; top: 1px; background-color: #72BADD; padding: 3px 5px; border-radius: 12px; color: #fff; font-size: 16px; }
.wrapper main .rightArea .productsBlock .head.badge + .carousel .list .item { display: none; width: 222px; margin-right: 30px; }
.wrapper main .rightArea .productsBlock .head.badge + .carousel .list .item:nth-child(3n) { margin-right: 0; }
.wrapper main .rightArea .productsBlock .head.badge + .carousel .list .item.active { display: block; animation-name: fade-in; animation-duration: .9s; }
.wrapper main .rightArea .productsBlock .head.flag { margin-bottom: 0; }
.wrapper main .rightArea .productsBlock .head.flag h2 { position: relative; width: 255px; padding: 10px; background-color: #72BADD; color: #fff; font-size: 18px; z-index: -1; }
.wrapper main .rightArea .productsBlock .head.flag h2::before { position: absolute; content: ''; top: 0; right: -1px; border: none; border-bottom: solid 47px white; border-left: solid 80px transparent; z-index: -2; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item { display: none; width: 170px; box-shadow: none; margin-right: 15px; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item:nth-child(4n) { margin-right: 0; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item.active { display: block; animation-name: fade-in; animation-duration: .9s; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item a .img { border-radius: 6px; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item a .txt { padding: 8px 0; text-align: left; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item a .star { display: flex; padding-top: 10px; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item a .star li { background: url("../images/star_none.png") no-repeat; background-size: 15px; width: 15px; height: 15px; margin-right: 5px; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item a .star li.active { background: url("../images/star_active.png") no-repeat; background-size: 15px; }
.wrapper main .rightArea .productsBlock .head.flag + .carousel .list .item a .star li:last-child { margin-right: 0; }
.wrapper main .rightArea .productsBlock .head .more a { color: #2996CC; vertical-align: text-top; }
.wrapper main .rightArea .productsBlock .head .more a:hover { text-decoration: none; }
.wrapper main .rightArea .productsBlock .carousel { position: relative; }
.wrapper main .rightArea .productsBlock .carousel .next, .wrapper main .rightArea .productsBlock .carousel .prev { position: absolute; top: 70px; bottom: 0; background-color: #848484; width: 40px; height: 40px; border-radius: 20px; z-index: 1; }
.wrapper main .rightArea .productsBlock .carousel .next:hover, .wrapper main .rightArea .productsBlock .carousel .prev:hover { cursor: pointer; }
.wrapper main .rightArea .productsBlock .carousel .next::before, .wrapper main .rightArea .productsBlock .carousel .prev::before { content: ""; position: absolute; top: 35%; left: 12px; width: 15px; height: 15px; border: 0; border-top: solid 1px #fff; border-right: solid 1px #fff; }
.wrapper main .rightArea .productsBlock .carousel .next { right: 0; transform: rotate(45deg); }
.wrapper main .rightArea .productsBlock .carousel .prev { display: none; left: 0; transform: rotate(225deg); }
.wrapper main .rightArea .productsBlock .carousel .list { display: flex; width: 725px; }
.wrapper main .rightArea .productsBlock .carousel .list .item { border-radius: 6px; box-shadow: 0px 3px 6px #00000029; }
.wrapper main .rightArea .productsBlock .carousel .list .item a { display: block; color: #333; text-decoration: none; }
.wrapper main .rightArea .productsBlock .carousel .list .item a:hover { opacity: 0.7; }
.wrapper main .rightArea .productsBlock .carousel .list .item a span { user-select: none; display: block; }
.wrapper main .rightArea .productsBlock .carousel .list .item a span.img { background-color: #eee; height: 180px; border-radius: 6px 6px 0 0; }
.wrapper main .rightArea .productsBlock .carousel .list .item a span.txt { padding: 10px; font-size: 14px; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-radius: 0 0 6px 6px; }
.wrapper main .rightArea .bannerBlock { margin-top: 80px; }
.wrapper main .rightArea .bannerBlock .item { display: flex; width: 100%; }
.wrapper main .rightArea .bannerBlock .item a { width: 50%; }
.wrapper main .rightArea .bannerBlock .item a:last-child { margin-left: 15px; }
.wrapper main .rightArea .bannerBlock .item a:hover { opacity: 0.7; }
.wrapper footer { display: flex; justify-content: space-evenly; background-color: #707070; width: 1280px; height: 360px; margin: 80px auto 0; padding: 60px; color: #fff; font-size: 14px; }
.wrapper footer .leftArea { display: flex; }
.wrapper footer .leftArea .listBlock { margin-left: 85px; }
.wrapper footer .leftArea .listBlock:first-child { margin-left: 0; }
.wrapper footer .leftArea .listBlock .ttl { font-weight: bold; }
.wrapper footer .leftArea .listBlock .ttl .txt { position: relative; padding-left: 16px; }
.wrapper footer .leftArea .listBlock .ttl .txt a { color: #fff; text-decoration: none; }
.wrapper footer .leftArea .listBlock .ttl .txt a:hover { text-decoration: underline; }
.wrapper footer .leftArea .listBlock .ttl .txt::before { content: ""; position: absolute; top: 4px; left: 0; width: 6px; height: 6px; border: 0; border-top: solid 1px #707070; border-right: solid 1px #707070; transform: rotate(45deg); z-index: 1; }
.wrapper footer .leftArea .listBlock .ttl .txt::after { content: ""; position: absolute; top: 0; left: -3px; background-color: #fff; width: 14px; height: 14px; border-radius: 10px; }
.wrapper footer .leftArea .listBlock .ttl + .ttl { padding-top: 10px; }
.wrapper footer .leftArea .listBlock ul li { padding-top: 10px; position: relative; }
.wrapper footer .leftArea .listBlock ul li a { padding-left: 12px; text-decoration: none; color: #fff; }
.wrapper footer .leftArea .listBlock ul li a:hover { text-decoration: underline; }
.wrapper footer .leftArea .listBlock ul li::before { content: ""; position: absolute; top: 50%; left: 0; width: 6px; height: 6px; border: 0; border-top: solid 1px #fff; border-right: solid 1px #fff; transform: rotate(45deg); }
.wrapper footer .rightArea { background-image: linear-gradient(to bottom, #fff, #707070 2px, transparent, transparent); background-size: 1px 3px; background-repeat: repeat-y; padding-left: 40px; }
.wrapper footer .rightArea .logoBlock { margin-bottom: 60px; }
.wrapper footer .rightArea .logoBlock .img { display: block; width: 240px; }
.wrapper footer .rightArea .listBlock ul { display: flex; padding-top: 20px; }
.wrapper footer .rightArea .listBlock ul li { padding-left: 15px; }
.wrapper footer .rightArea .listBlock ul li:first-child { padding-left: 0; }
.wrapper footer .rightArea .listBlock ul li a { display: block; }
.wrapper footer .rightArea .listBlock ul li a .img { display: block; width: 40px; }
.wrapper footer .rightArea .copyBlock { padding-top: 40px; font-size: 10px; }

/*# sourceMappingURL=style.css.map */
